<html>
<head>
    <meta charset="utf-8" />
    <title>RandomPost</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h3>User</h3>
    <button onclick="register()">Register</button>
    <button onclick="del()">Delete</button>
    <button onclick="profile()">Profile</button>
    <br>
    <h3>Post</h3>
    <button onclick="add()">Add</button>
    <button onclick="delPost()">Delete</button>
    <button onclick="comment()">Comment</button>
    <button onclick="like()">Like</button>
    <button onclick="dislike()">Dislike</button>
    <button onclick="section()">Section</button>
</body>
<script>
    var register = () => {
        $.ajax({
                url: '/user/register',
                type: 'POST',
                data: {
                    name: 'test1',
                    pwd: 'Start123'
                },
                success: (res) => {
                    alert(res + ' added successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
    var del = () => {
        $.ajax({
                url: '/user',
                type: 'DELETE',
                data: {
                    name: 'test1',
                },
                success: (res) => {
                    alert(res + ' successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
    var profile = () => {
        $.ajax({
                url: '/user/profile',
                type: 'POST',
                data: {
                    name: 'test1',
                },
                success: (res) => {
                    alert(res + ' successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
    var add = () => {
        $.ajax({
                url: '/post',
                type: 'POST',
                data: {
                    userId: '5bdde9a22ae03068f0083365',
                    caption:'AnotherPost',
                    description: 'That moment when you add a funny post haha',
                    img: 'link to image'
                },
                success: (res) => {
                    alert(res + ' successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
    var delPost = () => {
        $.ajax({
                url: '/post',
                type: 'DELETE',
                data: {
                    id: '5be579a7072481516ce63fee',
                },
                success: (res) => {
                    alert(res + ' successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
    var section = () => {
        $.ajax({
                url: '/api/section',
                type: 'POST',
                data: {
                    name: 'Sport',
                },
                success: (res) => {
                    alert(res + ' successfully')
                },
                error: (err) => {
                    alert('error: ' + err)
                }
            })    
    }
</script>
</html>