<!--

 
<html>
<head>
    <meta charset="utf-8" />
    <title>9GAG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div>
        <input type="email" value="Email" id="email"><br><br>
        <input type="pwd" value="Password" id="pwd"><br><br>
        <input type="button" onclick="login()" value="submit">
    </div>
</body>

<script>
    var login = () => {
        var email = document.getElementById('email');
        var pwd = document.getElementById('pwd');
        
        $.ajax({
            url: '/user/login',
            type: 'POST',
            data: {
                email,
                pwd
            },
            success: (res) => {
                alert(res + ' logged in successfully')
            },
            error: (err) => {
                alert('error: ' + err)
            }
        })
    }
</script>
</html>
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RandomPosts: Penguins and more.</title>
        <link rel="stylesheet" href="../public/css/login.css">
    </head>
    <body>
        <div class="login-box">
            <h1>Login</h1>

            <div class="textbox">
                <input type="text" placeholder="Username" name="" value="">
            </div>

            <div class="textbox">
                <input type="password" placeholder="Password" name="" value="">                    
            </div>

            <input class="btn" type="button" name="" value="Sign in">
        </div>
        <img src="../public/images/bg.jpg" alt="">
    </body>
</html>