<html>
    <head>
        <meta charset="utf-8" />
        <title>9GAG</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="brand">
                    Random Posts
                </div>
                <nav>
                    <a href="/dashboard" class="item">
                        Dashboard
                    </a>
                    <a href="/profile" class="item">
                        Profile
                    </a>
                    <a href="/upload" class="item">
                        Upload
                    </a>
                    <button onclick="logout()">
                        Log out
                    </button>
                </nav>
            </div>
        </header>
        <div class="main">
            <div class="container d-block">
                <strong>Username:</strong>&nbsp;<span id="username"></span>
                <br>
                <strong>Number of posts:</strong>&nbsp;<span id="postAmount"></span>
                <br>
                <strong>Change password:</strong>
                <br>
                <label for="oldPassword">Old Password:</label>
                <input type="password" name="oldPassword" id="oldPassword">
                <br>
                <label for="newPassword">New Password:</label>
                <input type="password" name="newPassword" id="newPassword">
                <br>
                <label for="repeatPassword">Repeat Password:</label>
                <input type="password" name="repeatPassword" id="repeatPassword">
                <br>
                <button onclick="changePassword()">Change password</button>
                <br><br><br>
                <h2 class= "Posts">Posts</h2>
            </div>
                    </form>
                </div>
            <div class="container flex-wrap justify-content-between">
               <div class="post card hidden w-40 mt-5" id="sample">
                    <div class="p-2">
                        <div class="head">
                            <span>
                                <img src="https://miscmedia-9gag-fun.9cache.com/images/thumbnail-facebook/1481536354.227_YsUzaZ_100x100.jpg" alt="">
                            </span>
                            <span>
                                Section
                            </span>
                            <span>
                                1h ago
                            </span>
                        </div>
                        <div class="title">
                        </div>
                        <div class="content d-flex">
                            <img class="p-2" src="" alt="">
                        </div>
                        <div class="stats">
                            <span></span>
                            <span>
                                likes - 
                            </span>
                            <span></span>
                            <span>
                                dislikes -
                            </span>
                            <span></span>
                            <span>
                                comments
                            </span>
                        </div>
                        <div class="actions">
                            <button>
                                <i class="material-icons">
                                    arrow_upward
                                </i>
                            </button>
                            <button>
                                <i class="material-icons">
                                    arrow_downward
                                </i>
                            </button>
                            <button>
                                <i class="material-icons">
                                    add_comment
                                </i>
                            </button>
                            <button>
                                <i class="material-icons">
                                        menu
                                </i>
                            </button>
                        </div>
                    </div>
                </div>    
            </div>        
        </div>
    </body>
    <script src="../public/scripts/evaluate.js"></script>
    <script src="../public/scripts/logout.js"></script>
    <script src="../public/scripts/profile.js"></script>
</html>