<html>
    <head>
        <meta charset="utf-8">
        <title>RandomPosts: Penguins and more.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../public/css/login.css">
    </head>
    <body>
        <div class="form-area">
            <h3>Register Form</h3>
            <form>
                <p>Email</p>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <p>Choose a Username</p>
                <input type="username" name="username" id="username" placeholder="Enter your username">
                <p>Choose a Password</p>
                <input type="password" name="password" id="password" placeholder="Enter your password">                
                <p>Confirm Password</p>
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <input type="button" value="Register" onclick="register()">
                <a href="/login">Already have an account?</a>
            </form>
        </div>
    </body>
    <script src="../public/scripts/register.js"></script>
</html>