<html>
<head>
    <meta charset="utf-8" />
    <title>9GAG</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <button onclick="register()">
        Register
    </button>

</body>
<script>
    let register = () => {
        $.ajax({
                url: '/api/user/register',
                type: 'POST',
                data: {
                    email: 'test@asdf.de',
                    password: 'Start1234'
                },
                success: (res) => {
                    console.log('success ' + res);
                },
                error: (err) => {
                    console.log('error: ' + err)
                }
            })    
    }
</script>
</html>