<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>9GAG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/upload.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="brand">
                Random Post
            </div>
            <nav>
                <a href="/dashboard" class="item">
                    Dashboard
                </a>
                <a href="/profile" class="item">
                    Profile
                </a>
                <a href="/upload" class="item">
                    Upload
                </a>
            </nav>
        </div>
    </header>
    <div class="main">
        <div class="card p-3" id="uploadForm">
            <form>
                <input type="text" name="caption" id="caption" placeholder="Please enter a caption">
                <br><br>
                <input type="file" name="filetoupload" id="image">
                <br><br>
                <select name="section" id="section">
                    <option selected disabled>
                        Please select a section
                    </option>
                    <option value="funny">
                        Funny
                    </option>
                </select>
                <br><br>
                <input type="button" onclick="preview()" id="toPreview" value="Preview" disabled>
            </form>
        </div>
        <div class="card p-3" id="preview">
            <div class="title" id="prevCaption"></div>
            <div class="content">
                <img id="prevImage" src="" alt="">
            </div>
            <button onclick="upload()">Upload</button>            
        </div>
    </div>
</body>
<script src="../public/scripts/upload.js"></script>