main .left {
    width: 30%;
}
main .left .container {
    padding: 1em;
    display: initial;
}
main .left h3 {
    color: grey;
    font-size: 0.7em;
}
main .left .item {
    display: flex;
    align-items: center;
    padding: 0.5em;
}
main .left .item:hover {
    background: lightgray;
    cursor: pointer;
}
main .left .item img {
    height: 1.5em;
}
main .left .item span {
    margin-left: 0.5em;
}
main .right {
	
}
main .right .container {
    padding: 1em;
    display: initial;
}
.hidden {
    visibility: hidden;
    height: 0;
}
.post {
    color: grey;
}
.post .head {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.post .head span {
    margin-right: 1em;
	
}
.post .head img {
    height: 1em;
	justify-content: center;
}
.post .title {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}
.post .content img {
    max-width: 100%;
}
.post .actions {
    display: flex;
}
.post .actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}