body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    background: url(concrete.jpg) no-repeat;
    background-size: cover;
    background-color: bisque;

    }

/*Used for centering the login box right in the middle of the screen. 
Works on most browsers (tested IE and Chrome). */
.login-box{
    padding: 280px 0;
    text-align: center;

}